#--- Server Variables
UNIXSEE_API_KEY=uxc_6ZjuWGio2dJX4mlukeWf5UukWfYECLfbmVyYFyGnFwX0MloU

UNIXSEE_WP_API_BASE_URL=http://localhost:3000/api/mock/unixsee/v1/
UNIXSEE_CORE_API_BASE_URL=http://localhost:4000/api/v1
PORT=3001

DATABASE_URL=postgresql://postgres:password@localhost:5433/unixsee-web?schema=public

#--- Client Variables
NEXT_PUBLIC_NODE_ENV=production
NEXT_PUBLIC_UNIXSEE_CORE_API_BASE_URL=http://localhost:4000/api/v1
NEXT_PUBLIC_APP_URL=http://localhost:3001
NEXT_PUBLIC_API_BASE_URL=http://localhost:3001/api
NEXT_PUBLIC_PORT=3001

# Email
EMAIL_SMTP_HOST=
EMAIL_SMTP_PORT=465
EMAIL_SMTP_SECURE=true
EMAIL_SMTP_USER=
EMAIL_SMTP_PASSWORD=

EMAIL_FROM="Unixsee <no-reply@unixsee.com>"
EMAIL_ADMIN_TO=
EMAIL_ADMIN_LOCALE=fa



# $env:ANTHROPIC_AUTH_TOKEN="sk-5bMoOljEYXdfo0wuQkhHPJuwGBa3By8iRKvLYgA13Ugf2LrP"
# $env:ANTHROPIC_AUTH_TOKEN="sk-mydO2bwbpAiqUvXnAbeQWQ365y67Eaip3QE3ebJPGRMPYOfI"
$env:ANTHROPIC_AUTH_TOKEN="sk-vUjMaSM0TBdk0aFBs6mMAynoa7ANNDOdW3kesjwkg3lWFcoa"
$env:ANTHROPIC_BASE_URL   = "https://agentrouter.org"
$env:ANTHROPIC_MODEL="claude-opus-4-8"

claude --resume 92c83ef6-4d28-403f-b048-800da2e1f41d

claude -p "Reply only with OK" `
  --debug-file "$env:TEMP\agentrouter-4-8.log"

git clone --branch feat/merge-dashboard --single-branch https://github.com/unixseemaster-pixel/unixsee-web .

  